*{
    padding: auto;
    margin: 0;
}
body{
    background-color: white;
}
.layout{
    width: 960px;
    margin: 0 auto;
}
#row1{
    height: 60px;
    width: 100%;
    background-color: white;
}
.header-section{
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{}
.logo h3{}
.logo{}
.menu ul{
    display: flex;
    list-style: none; 
}
.menu ul li a{
    padding-left: 20px;
    text-decoration: none;
}
.blog_btn{}
.search_bar{}
.search_bar input{}
.search_bar i{}


#row2{
    height: 500px;
    width: 100%;
    background: url(../images/us-capitol-renovation-1.webp);
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_section{
    width: 70%;
    color: #fff;
    text-align: center;
}
.banner_section h1{
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}
.banner_section p{
    text-align: justify;
    padding-bottom: 20px;
}
.banner_section button{
    padding: 10px;
    background-color: orange;
    border: none;
    border-radius: 10px;
    text-align: center;
}
#row3{
    height: 360px;
    background-color: white;
}
.service_section{}
.service_section h3{
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.service_container{
    display: flex;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}
.service_item{
    text-align: center;
}
.service_item i{
    border-radius: 80px;
    height: 80px;
    width: 80px;
    background-color: skyblue;
    line-height: 80px;
    font-size: 30px;
}
.service_item h3{
    text-align: center;
}
.service_item p{
    text-align: center;
}